.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.clickable {
	cursor: pointer;
}

.center-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-header {
	background-color: var(--third-color);
	border-radius: 10px;
	overflow: hidden;
}

.table-header th :first-child {
	border-top-left-radius: 10px;
}

.custom-table {
	border-collapse: collapse;
	width: 100%;
}

.custom-table th {
	color: var(--color-text);
	font-weight: bold;
}

.custom-table th,
.custom-table td {
	padding: 15px;
	text-align: center;
	width: 100%;
	justify-content: center;
	align-items: center;
}

input {
	height: 100%;
	width: 100%;
	padding: 5px;
	outline: none;
	color: var(--color-text);
	background-color: var(--fourth-color);
	text-align: center;
	border: none;
	border-radius: 5px;
}

.anwesend-image {
	height: 30px;
	width: 30px;
	padding: 5px;
	background-color: var(--second-color);
	border-radius: 5px;
	}

