.kurs-item {
    border: 3px solid var(--third-color);
    border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    img{
        width: var(--image-size);
        height: var(--image-size);
        margin-right: 10px;
        filter: brightness(0) invert(1);
        opacity: 0.64;

        scale: 0.8;
        
    }
    .rotated {
        transform: rotate(45deg);
    }
    h2 {
        flex-grow: 1;
        text-align: center;
    }
    .one-line{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
.kurs-item:hover {
    background-color: var(--fourth-color);
    transition: ease-in-out 0.3s;
}

.grid{
    display: grid;
    margin: 20px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}