form {
	width: 100%;
	min-width: 300px;
	padding: 20px 20px;
	border-radius: 8px;
	grid-column: span 2;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px;

}
.link {
	display: block;
	color: var(--color-text);
	text-decoration: none;
	font-size: 1rem;
	text-align: center;
	border-radius: 10px;
	grid-column: span 2;
	margin: 0px 20px;
}

.input-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	gap: 10px;
}

input {
	border-radius: 5px;
	border: none;
	background-color: var(--second-color);
	flex-grow: 1;
	width: 100%;
	outline: none;
	padding: 3px;
	text-align: center;
	color: var(--black);
	font-weight: bold;
}

button {
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 40px;
	color: var(--black);
	background-color: var(--first-color);
	width: 100%;
	grid-column: span 2;
    margin: 10px 0;
	font-weight: bold;
	border: 2px solid black;
}

button:hover {
	filter: brightness(0.9);
	transition: all 0.3s ease-in-out;
}

button:active {
	scale: 0.97;
	transition: all 0.15s ease-in-out;
}