.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px var(--shadow-soft);
    background-color: var(--fivth-color);
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 5px;
}
.form button:active {
    animation: button_pressed 0.5s;
}

@keyframes button_pressed {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    50% {
        transform: scale(0.98);
        filter: brightness(0.7);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    } 
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
        color: green;
        font-weight: bold;
        margin-top: 10px;
}
