.table-container {
	overflow-y: auto;
	height: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
table {
	box-shadow:
		0 0 10px var(--shadow),
		0 0 10px var(--shadow); 
	width: 80%;
	border-collapse: collapse;
	border-radius: 10px; /* Runde Ecken hinzufügen */
	overflow: hidden;
	table-layout: fixed;
}

th,
td {
	padding: 12px;
	text-align: center;
	border-top: 2px solid var(--third-color);
}

th {
	background-color: var(--third-color);
	color: #333;
}

tr:nth-child(even) {
	background-color: transparent;
}

.filled {
	cursor: pointer;
}

.data-cell{
	border-left: solid 1px var(--third-color);
}